.navigation {
  margin-top: 10px;
}

Nav {
  list-style: none;
  padding: 0 5px;
  margin: 5px;
}

/* .navigation a:hover {
  background-color: rgb(212, 211, 211);
  color: #000;
  border-radius: 1px;
  padding: 5px;
} */

div > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0 5px;
}

a {
  text-decoration: none;
  color: rgb(124, 124, 124);
}

.headerTop {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

/* .icons {
  width: 100px;
  display: flex;
  float: right;
  margin-right: 90px;
} */

.navbar {
  display: flex !important;
  justify-content: space-between !important;
}

.navbar-nav a {
  margin: 0 6px;
}

.btn-outline-success {
  margin: 0 5px;
}

h3 > span {
  background-color: black;
  color: white;
  padding: 10px;
}

.dropdown-menu {
  width: 400%;
}
