.navigation {
  margin-top: 10px;
}

.theme {
  box-shadow: 0px 2px 2px rgb(243, 243, 243);
  width: 100vw;
}

Nav {
  list-style: none;
  padding: 0 5px;
  margin-bottom: 5px;
}

/* .navigation a:hover {
  background-color: rgb(212, 211, 211);
  color: #000;
  border-radius: 1px;
  padding: 5px;
} */

div > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0 5px;
}

div > a > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0 5px;
}

a {
  text-decoration: none;
  color: rgb(124, 124, 124);
}

.headerTop {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

/* .icons {
  width: 100px;
  display: flex;
  float: right;
  margin-right: 90px;
} */

.navbar {
  display: flex !important;
  justify-content: space-between !important;
}

.navbar-nav a {
  margin: 0 6px;
}

.btn-outline-success {
  margin: 0 5px;
}

h3 > span {
  background-color: black;
  color: white;
  padding: 10px;
}

.dropdownM {
  width: 400%;
  left: -250px !important;
}

.dropdown {
  margin: 0 10px !important;
}

.cartCount {
  background-color: rgb(221, 0, 0);
  color: aliceblue;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  right: 15px;
  width: 20px;
  height: 20px;
  font-size: 15px;
  font-weight: 900;
}

.favoriteCount {
  background-color: rgb(221, 0, 0);
  color: aliceblue;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  right: 15px;
  width: 20px;
  height: 20px;
  font-size: 15px;
  font-weight: 900;
}

@media (max-width: 771px) {
}
