.home {
  display: flex;
}

.productContainer {
  display: flex;
  width: 100%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filters {
  background-color: rgb(245, 245, 245);
  padding: 20px;
  margin-right: 10px;
  height: 85vh;
}

.filters > span {
  padding-bottom: 20px;
}

.title {
  font-size: 30px;
}

.products {
  width: 300px;
  margin: 10px;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

.summary {
  width: 30%;
  float: right;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

@media (max-width: 771px) {
  .filters > span {
    font-size: 10px;
  }

  .title {
    font-size: 28px !important;
  }

  .productContainer {
    width: 58%;
    padding: 0;
    text-align: center;
    margin: 20px;
  }

  .search {
    display: none !important;
  }

  .products {
    width: 100%;
  }

  .smallNav {
    display: flex !important;
    box-sizing: border-box;
    border: 2px black solid;
  }
}

.header {
  position: fixed;
  z-index: 300;
  width: 100%;
}
